@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #0d2e9d;
  --cream: #faf7f2;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-cream text-slate-900 antialiased;
}

::selection {
  @apply bg-brand/20 text-brand-dark;
}
